@{
   Layout = "/shared/_main.cshtml";
    
}

<div id="menu">
    <ul>
       <li><a href="/Index.cshtml">Home</a></li>

       <li><a href="">Cadastros</a>
            <ul>
                <li><a href="/cad_unidades.cshtml">Cadastro de Unidade</a></li>
                <li><a href="/Cad_Veiculos.cshtml">Cadastro de Veículo</a></li>
                <li><a href="/indice.cshtml">Cadastro de Motorista</a></li>
            </ul>
        </li>

       <li><a href="">Lançamentos</a>
           <ul>
               <li><a href="#">Boletos</a></li>
               <li><a href="#">CTEs</a></li>
           </ul>
        </li>

       <li><a href="#">Alterações</a>
           <ul>
               <li><a href="#">Transportes</a></li>
           </ul>
        </li>

        <li><a href="#">Relatorios</a>
            <ul>
                <li><a href="#">Faturamento</a></li>
                <li><a href="#">Status</a></li>
            </ul>        
        </li>
    </ul>
</div>
